// Variables
$white: #e8e8e8;
$black: #181717;
$greyDark: #232323;
$grey: #606060;
$greyLight: #a8a8a8;

$accentColor: #6686ff;
$addColor: #2944ab;

//import fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');
